<video autoplay muted loop id="myVideo">
  <source src="../../assets/video/PROJETO RELAMPAGO .mp4" type="video/mp4">
</video>

<button class="mute-video-btn" (click)='mutarVolume()'>
  <i class="fas fa-volume-mute" id="fa-volume-mute"></i>
  <i class="fas fa-volume-up" id="fa-volume-up"></i>
</button>

<div class="container-fluid container-fluid-eco">

</div>

<div class="container">

  <div class="d-flex container-logo ">
    <img class="tamanho-imgLogo efeitoEco-logo" src="../../assets/img/logosobre.png" alt="">
  </div>

  <div class="">
    <div class="d-flex justify-content-center">
      <div class="container-sobre sobre">

        <h3 class="sobre-nos">Sobre nós</h3>
        <p class="text-center">Nascemos da necessidade de contribuir com a ampliação do trabalho decente, crescimento
          econômico, consumo e produção responsáveis – que são objetivos de desenvolvimento responsável da ONU – o
          Efeito Eco, como o nome, mesmo sendo um trocadilho, sugere, tem o objetivo de fazer ecoar a voz de produtores
          de produtos de origem ecológica, e conectá-lo a consumidores conscientes.</p>

      </div>
    </div>

  <!--Missão, Visão, Valores-->
      <div class="d-flex justify-content-center mt-5 proposito"> 
      <div class="card" style="width: 18rem;" id="card-missao">
        <img src="https://imgur.com/Iqwawyz.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Missão</h4>
          <p class="card-text mt-3">Facilitar o consumo consciente, dando voz a pequenos produtores de produtos ecológicos e
            entregando ao consumidor a facilidade de encontrar produtos de qualidade e de origem confiável.</p>
        </div>
      </div>

      <div class="card ml-5" style="width: 18rem;">
        <img src="https://i.imgur.com/AZOTXhZ.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Visão</h4>
          <p class="card-text mt-3">Contribuir com o desenvolvimento sustentável, geração de renda para o pequeno produtor e
            menor geração de resíduos, por parte do consumidor.</p>
        </div>
      </div>
      
      <div class="card ml-5" style="width: 18rem;">
        <img src="https://imgur.com/B5W7gOj.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="principios">Valores</h4>
          <p class="card-text mt-3">Nossos valores inegociáveis são: o respeito a natureza,consumo responsável e nossa contribuição com a economia, que faz ecoar para o mundo o trabalho de milhares de pessoas.</p>
        </div>
      </div>

    </div>
  <!--/Missão, Visão, Valores-->

  
  </div>

<hr class="mt-5"> 

<h3 class="sobre-nos mt-5">Equipe Desenvolvedora</h3>

  <div class="d-flex justify-content-center">
      <div class="row">
      <div class="col-md-12">
        <div class="row row-cols-1 row-cols-md-2 mt-3" align="center">

          <!--Daniel-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://avatars.githubusercontent.com/u/77853116?v=4" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Daniel Santos</h5>
                <p class="card-text">Muito ligado aos amigos e a família, apaixonado por esportes, em especial Futebol Americano, super curioso por coisas novas.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/DanielSantos0" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/daniel-de-oliveira-santos-450aa0159/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>
                      
            </div>
          </div>

          <!--Wendell-->
          <div class="col mb-4">
            
            <div class="card">
              <div class="d-flex">
               
                <img src="https://avatars.githubusercontent.com/u/77843044?v=4" class="card-img-top img-perfil mt-3 ml-5" alt="...">
                          
              <div class="card-body">
                <h5 class="card-title mt-3" id="passar_mouse">Wendell Gomes</h5>
                <p class="card-text">Fascinado pela área da tecnologia, desde os 10 anos, montando e desmontando computadores. Persistente para buscar coisas novas e apaixonado em ajudar pessoas.</p>

                <div class="justify-content-center">
                  <ul class="redes-sociais">
                    <li><a class="tamanho cor hover-redes" href="https://github.com/wendell-gomes" target="_blank"><i class="fab fa-github"></i></a></li>
                    <li><a class="tamanho cor hover-redes" href="https://www.linkedin.com/in/wendell-sgomes/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                  </ul>
                </div>

              </div>

            </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>